

<div class="float-right" style="padding-right: 30px;padding-top:20px;">
  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    

    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Make this
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" (click)="makeProfilePhoto()">Profile Photo</a>
        <a class="dropdown-item" (click)="makeCoverPhoto()">Album Cover</a>
      </div>
    </div>
  </div>
</div>
<br>

<div *ngIf="photo" style="max-width:450px; margin:auto;">
  <img [src]="photo.photoUrl" class="rounded" width="400">
</div>

<div *ngIf="allComments">

  <div class="alert alert-primary" role="alert" style="text-align:right;" *ngFor="let comment of allComments">
    {{comment.comment}} -- {{comment.createdBy}} on {{comment.dateCreated}}
  </div>
</div>


